In [5]:
import pandas
data = pandas.read_csv('C:\\Users\\choun\\OneDrive\\Desktop\\PUBH_RamaKrishna_Gurram\\DAA.csv')

In [6]:
data.describe()

       math score  competency  Literacy A  Literacy_baseline  Literacy B
count   16.000000   16.000000   16.000000          16.000000   16.000000
mean    37.625000    9.250000    9.781250           7.306250   12.125000
std      8.515672    2.435843    1.332276           1.137523    6.130525
min     19.000000    5.000000    7.000000           5.800000    4.000000
25%     34.750000    7.750000    9.100000           6.425000    7.750000
50%     39.500000   10.000000    9.900000           7.050000   11.000000
75%     42.000000   11.000000   10.425000           8.150000   15.000000
max     49.000000   13.000000   12.000000           9.400000   24.000000

In [8]:
import numpy
numpy.percentile(data['Literacy A'],25)

9.1

In [10]:
for col in data.columns:
    #print(numpy.percentile(data[col],75))

SyntaxError: incomplete input (1484836779.py, line 2)

In [11]:
for col in data.columns:
    print(data[col].value_counts())

42    4
39    3
46    2
19    1
40    1
36    1
49    1
22    1
28    1
31    1
Name: math score, dtype: int64
11    4
10    3
5     2
9     2
8     1
12    1
13    1
7     1
6     1
Name: competency, dtype: int64
Brown    10
Blue      6
Name: eye color, dtype: int64
Right    12
Left      4
Name: handedness, dtype: int64
M    8
F    8
Name: Gender, dtype: int64
10.4    2
9.6     2
12.0    2
10.5    2
10.1    1
7.7     1
10.3    1
9.2     1
8.8     1
8.7     1
9.7     1
7.0     1
Name: Literacy A, dtype: int64
7.0    2
7.5    2
6.8    1
8.0    1
8.6    1
9.4    1
6.2    1
7.1    1
5.9    1
6.5    1
5.8    1
8.9    1
8.7    1
6.0    1
Name: Literacy_baseline, dtype: int64
10    2
11    2
4     2
24    1
20    1
14    1
22    1
6     1
7     1
8     1
13    1
12    1
18    1
Name: Literacy B, dtype: int64

In [2]:
import pandas
import scipy.stats as stats
from scipy.stats import binom

In [27]:
data = pandas.read_csv('C:\\Users\\choun\\Downloads\\DatasetD 2024 (1).csv')

In [28]:
data

,Person ID,education_after,education_before,diet_exercise_program A,health score,competency,exercise level,gender,disease status
0,1,9.6,5.8,6.3,43,16,Low,Female,1
1,2,10.5,5.9,0.5,42,13,High,Female,0
2,3,9.7,6.0,2.6,36,17,Low,Female,1
3,4,12.0,6.2,7.9,26,17,High,Male,0
4,5,10.4,6.5,8.2,40,7,High,Male,1
5,6,10.1,6.8,-0.3,33,18,High,Male,0
6,7,9.6,7.0,3.7,34,6,Low,Male,1
7,8,7.0,6.0,3.2,50,18,High,Male,0
8,9,9.2,6.1,3,46,11,High,Male,1
9,10,10.3,7.5,0.6,49,19,High,Male,0
10,11,10.5,7.5,18.7,41,20,Low,Male,1
11,12,10.4,7.0,1.5,43,8,Low,Female,0
12,13,6.7,8.6,3,38,13,Low,Male,1
13,14,7.7,8.7,14.7,46,5,Low,Male,1
14,15,8.8,8.9,7,44,17,High,Male,1
15,16,12.0,9.4,5.5,39,16,Low,Female,0
16,17,10.5,5.9,6.1,35,12,Low,Female,1
17,18,9.6,5.8,14.2,35,9,Low,Female,0
18,19,10.4,7.0,13.8,41,13,High,Female,1
19,20,10.4,7.0,.,38,9,Low,Male,1
20,21,6.7,8.6,.,46,12,Low,Male,0
21,22,7.7,8.7,.,44,17,Low,Male,1
22,23,8.8,8.9,.,39,17,High,Female,0
23,24,12.0,9.4,.,35,6,Low,Female,1

In [29]:
l1 = [26,33,34,38,40,41,44,46,46,49,50]
l2 = [36,39,42,43,43]

In [30]:
stats.mannwhitneyu(l2,l1)

MannwhitneyuResult(statistic=25.0, pvalue=0.8204934062971072)

In [31]:
d1 =

SyntaxError: invalid syntax (2080675577.py, line 1)

In [32]:
import pandas as pd
from scipy.stats import mannwhitneyu



# Filter data for males and females
male_scores = data[data['gender'] == 'Male']['health score']
female_scores = data[data['gender'] == 'Female']['health score']

# Perform Mann-Whitney U test
u_statistic, p_value = mannwhitneyu( female_scores,male_scores, alternative='two-sided')

# If U statistic is not a whole number, round up
u_statistic_rounded = int(u_statistic) if u_statistic.is_integer() else int(u_statistic) + 1

print(f"Mann-Whitney U statistic (rounded): {u_statistic_rounded}")
print(f"P-value: {p_value}")

Mann-Whitney U statistic (rounded): 50
P-value: 0.24023334080661773

# Sign Test

In [33]:
!pip install statsmodels

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: statsmodels in c:\programdata\anaconda3\lib\site-packages (0.13.5)
Requirement already satisfied: pandas>=0.25 in c:\programdata\anaconda3\lib\site-packages (from statsmodels) (1.5.3)
Requirement already satisfied: patsy>=0.5.2 in c:\programdata\anaconda3\lib\site-packages (from statsmodels) (0.5.3)
Requirement already satisfied: packaging>=21.3 in c:\programdata\anaconda3\lib\site-packages (from statsmodels) (22.0)
Requirement already satisfied: scipy>=1.3 in c:\programdata\anaconda3\lib\site-packages (from statsmodels) (1.10.0)
Requirement already satisfied: numpy>=1.22.3 in c:\programdata\anaconda3\lib\site-packages (from statsmodels) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.25->statsmodels) (2022.7)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)

In [34]:
import numpy
import statsmodels.stats.descriptivestats as sm
from itertools import combinations

In [35]:
data['competency']

0     16
1     13
2     17
3     17
4      7
5     18
6      6
7     18
8     11
9     19
10    20
11     8
12    13
13     5
14    17
15    16
16    12
17     9
18    13
19     9
20    12
21    17
22    17
23     6
Name: competency, dtype: int64

In [36]:
med = data['competency'].median()
med

13.0

In [37]:
sm.sign_test(data['competency'],10)

(5.0, 0.06391465663909912)

Other

In [38]:
n_gt_median = sum([1 for x in data['competency'] if x > med])
n_gt_median

11

In [39]:
n_lt_median = sum([1 for x in data['competency'] if x < med])
n_lt_median

10

In [40]:
n_eq_median = sum([1 for x in data['competency'] if x == med])
n_eq_median

3

In [41]:
len(data['competency'])

24

In [42]:
p_value = 0
for i in range(min(n_gt_median,n_lt_median)+1):
    num = numpy.math.factorial(n_gt_median+n_lt_median) * numpy.math.factorial(n_eq_median)*numpy.math.factorial(i)*numpy.math.factorial(n_gt_median-i)*numpy.math.factorial(n_lt_median-i)
    den = numpy.math.factorial(len(data['competency'])) * numpy.math.factorial(i)*numpy.math.factorial(n_eq_median-1)
    p_value += num/den

In [43]:
p_value

36112090177.03534

In [44]:
signs = [1 if x > med else -1 if x < med else 0 for x in data['competency']]
signs

[1,
 0,
 1,
 1,
 -1,
 1,
 -1,
 1,
 -1,
 1,
 1,
 -1,
 0,
 -1,
 1,
 1,
 -1,
 -1,
 0,
 -1,
 -1,
 1,
 1,
 -1]

In [20]:
npos = sum([1 for x in signs if x==1])
npos

11

In [21]:
nneg = sum([1 for x in signs if x==-1])
nneg

10

In [22]:
n_com = 2**len(signs)
n_com

16777216

In [23]:
p_value = 0
for i in range(npos, len(signs)+1):
    p_value += (n_com * numpy.math.factorial(len(signs)))/(numpy.math.factorial(i)*numpy.math.factorial(len(signs)-i)*2**len(signs))
p_value

12236830.0

In [49]:
import pandas as pd
from scipy.stats import binom_test


# Assume 'Competency_Scores' is the column with the data
scores = data['competency']

# Count how many scores are above and below the hypothesized median (10)
above = (scores > 10).sum()
below = (scores < 10).sum()

# Perform the sign test
# The binom_test function is used here because the sign test is essentially a binomial test
# where n is the number of non-tie scores and p=0.5 under the null hypothesis
p_value = binom_test(x=below, n=above + below, p=0.5, alternative='two-sided')

print(f"Number of scores above 10: {above}")
print(f"Number of scores below 10: {below}")
print(f"P-value of the sign test: {p_value}")

Number of scores above 10: 17
Number of scores below 10: 7
P-value of the sign test: 0.06391465663909912

C:\Users\choun\AppData\Local\Temp\ipykernel_14388\1837911422.py:15: DeprecationWarning: 'binom_test' is deprecated in favour of 'binomtest' from version 1.7.0 and will be removed in Scipy 1.12.0.
  p_value = binom_test(x=below, n=above + below, p=0.5, alternative='two-sided')

Wilcoxon signed rank test

In [26]:
stats.wilcoxon(data['education_after'],data['education_before'])

WilcoxonResult(statistic=23.0, pvalue=7.62939453125e-05)

In [67]:
l1 = data['education_after'].to_list()
l1

[9.6,
 10.5,
 9.7,
 12.0,
 10.4,
 10.1,
 9.6,
 7.0,
 9.2,
 10.3,
 10.5,
 10.4,
 6.7,
 7.7,
 8.8,
 12.0]

In [68]:
l2=data['education_before'].to_list()
l2

[5.8,
 5.9,
 6.0,
 6.2,
 6.5,
 6.8,
 7.0,
 6.0,
 6.1,
 7.5,
 7.5,
 7.0,
 8.6,
 8.7,
 8.9,
 9.4]

In [82]:
diff = [(l1[i]-l2[i]) for i in range(len(l1))]
diff

[3.8,
 4.6,
 3.6999999999999993,
 5.8,
 3.9000000000000004,
 3.3,
 2.5999999999999996,
 1.0,
 3.0999999999999996,
 2.8000000000000007,
 3.0,
 3.4000000000000004,
 -1.8999999999999995,
 -0.9999999999999991,
 -0.09999999999999964,
 2.5999999999999996]

In [83]:
for i in range(len(diff)):
    diff[i] = round(diff[i],1)
diff

[3.8,
 4.6,
 3.7,
 5.8,
 3.9,
 3.3,
 2.6,
 1.0,
 3.1,
 2.8,
 3.0,
 3.4,
 -1.9,
 -1.0,
 -0.1,
 2.6]

In [84]:
abs_diff = [abs(d) for d in diff]
abs_diff

[3.8,
 4.6,
 3.7,
 5.8,
 3.9,
 3.3,
 2.6,
 1.0,
 3.1,
 2.8,
 3.0,
 3.4,
 1.9,
 1.0,
 0.1,
 2.6]

In [85]:
ranks = [sorted(abs_diff).index(abs(d)) + 1 for d in abs_diff]
ranks

[13, 15, 12, 16, 14, 10, 5, 2, 9, 7, 8, 11, 4, 2, 1, 5]

In [88]:
n = len(diff)
n

16

In [89]:
w = sum([ranks[i] if diff[i] > 0 else -ranks[i] for i in range(n)]) 
w

120

In [90]:
from scipy.stats import norm
c = norm.ppf(1-0.05/2)
c

1.959963984540054

In [91]:
stats.wilcoxon()

WilcoxonResult(statistic=7.0, pvalue=0.000579833984375)

In [ ]:
stats.wilcoxon(data['education_after'],data['education_before'])

In [92]:
stats.wilcoxon(data['education_before'], data['education_after'])

WilcoxonResult(statistic=7.0, pvalue=0.000579833984375)

In [86]:
abs_diff = [abs(d) for d in diff]
ranks = [sorted(abs_diff).index(abs(d)) + 1 for d in abs_diff]

In [8]:
abs_diff

[3.8,
 4.6,
 3.6999999999999993,
 5.8,
 3.9000000000000004,
 3.3,
 2.5999999999999996,
 1.0,
 3.0999999999999996,
 2.8000000000000007,
 3.0,
 3.4000000000000004,
 1.8999999999999995,
 0.9999999999999991,
 0.09999999999999964,
 2.5999999999999996]

In [9]:
ranks

[13, 15, 12, 16, 14, 10, 5, 3, 9, 7, 8, 11, 4, 2, 1, 5]

In [10]:
signed_ranks = [r * (-1 if d < 0 else 1) for r, d in zip(ranks, diff)]

In [11]:
signed_ranks

[13, 15, 12, 16, 14, 10, 5, 3, 9, 7, 8, 11, -4, -2, -1, 5]

In [16]:
sum_signed_ranks = sum(signed_ranks)
sum_signed_ranks

121

In [17]:
n = len(diff)
w = sum_signed_ranks
T = min(w, n*(n+1)/2 - w)

In [18]:
mu = n*(n+1)/4
sigma = ((n*(n+1)*(2*n+1))/24)**0.5
z = (T - mu) / sigma
pvalue = 2*(1 - norm.cdf(abs(z)))

NameError: name 'norm' is not defined

In [19]:
n

16

In [20]:
w

121

In [21]:
T

15.0

In [22]:
mu

68.0

In [23]:
z

-2.7405647569736016

In [10]:
from scipy.stats import binom

In [12]:
data['competency']

0     11
1     11
2      9
3      7
4     11
5      8
6      8
7     11
8     12
9     12
10    10
11    10
12     9
13    10
14    10
15     9
Name: competency, dtype: int64

In [13]:
n = len(data['competency'])
n

16

In [17]:
([1 for x in data['competency'] if x > 10])

[1, 1, 1, 1, 1, 1]

In [18]:
n_above = sum([1 for x in data['competency'] if x > 10])
n_above

6

In [19]:
([1 for x in data['competency'] if x < 10])

[1, 1, 1, 1, 1, 1]

In [20]:
n_below = sum([1 for x in data['competency'] if x < 10])
n_below

6

In [22]:
T = min(n_above, n_below)
T

6

In [23]:
binom.sf(T - 1, n, 0.5) * 2

1.789886474609375

In [32]:
n_above

6

In [33]:
n_below

6

In [34]:
T = min(n_above, n_below)

In [35]:
T

6

In [40]:
diff = data['competency']-10
diff

0     1
1     1
2    -1
3    -3
4     1
5    -2
6    -2
7     1
8     2
9     2
10    0
11    0
12   -1
13    0
14    0
15   -1
Name: competency, dtype: int64

In [42]:
import numpy as np
positive_diff = np.sum(diff > 0)
negative_diff = np.sum(diff < 0)

In [43]:
positive_diff

6

In [44]:
negative_diff

6

In [46]:
n = positive_diff + negative_diff
n

12

In [47]:
k = min(positive_diff, negative_diff)
k

6

In [48]:
p_value = 2 * binom.cdf(k, n, 0.5)
p_value

1.2255859375

In [2]:
import pandas
data = pandas.read_csv('C:\\Users\\choun\\OneDrive\\Desktop\\biostats.csv')

In [3]:
data

    Data
0      2
1      9
2      1
3      0
4      5
5      5
6      6
7      7
8      8
9      8
10     6
11     4
12     7
13     8
14     9
15     3
16     8
17     9
18     6
19     8
20     6

In [4]:
data.sum()

Data    125
dtype: int64

In [7]:
data.count()

Data    21
dtype: int64

In [8]:
data.mean()

Data    5.952381
dtype: float64

In [9]:
data.mean().round()

Data    6.0
dtype: float64