In [1]:
import pandas
data = pandas.read_csv('C:/Users/choun/Downloads/HW10.csv')

In [2]:
data

,Person ID,education_after,education_before,health score,competency,exercise level,gender,disease status
0,1,9.6,5.8,43,17,Low,Female,1
1,2,10.5,5.9,42,13,High,Female,0
2,3,9.7,6.0,36,17,High,Female,1
3,4,12.0,6.2,26,17,High,Male,0
4,5,10.4,6.5,40,7,High,Male,1
5,6,10.1,6.8,33,18,High,Male,0
6,7,9.6,7.0,34,6,Low,Male,1
7,8,7.0,6.0,50,19,High,Male,0
8,9,9.2,6.1,46,11,High,Male,1
9,10,10.3,7.5,49,19,High,Male,0
10,11,10.5,7.5,41,20,High,Male,1
11,12,10.4,7.0,43,8,Low,Female,0
12,13,6.7,8.6,38,13,High,Male,1
13,14,7.7,8.7,46,5,High,Male,0
14,15,8.8,8.9,44,17,High,Male,1
15,16,12.0,9.4,39,15,Low,Female,0
16,17,10.5,5.9,35,12,High,Female,1
17,18,9.6,5.8,35,9,Low,Female,0
18,19,10.4,7.0,41,13,High,Female,1
19,20,10.4,7.0,55,20,Low,Male,1
20,21,6.7,8.6,52,17,Low,Male,0
21,22,9.6,7.0,29,19,Low,Female,0
22,23,7.0,6.0,38,10,High,Female,0
23,24,9.2,6.1,41,16,High,Female,0
24,25,10.5,5.9,32,18,High,Female,0

In [ ]:
data['diet_exercise_program A'][0:19]

In [ ]:
data['diet_exercise_program A 1']=data['diet_exercise_program A'][0:19]

In [ ]:
data['diet_exercise_program A 1']

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Person ID         25 non-null     int64
 1   education_after   25 non-null     float64
 2   education_before  25 non-null     float64
 3   health score      25 non-null     int64
 4   competency        25 non-null     int64
 5   exercise level    25 non-null     object
 6   gender            25 non-null     object
 7   disease status    25 non-null     int64
dtypes: float64(2), int64(4), object(2)
memory usage: 1.7+ KB

# ManWhitney Method

In [40]:
df = data
df

,Person ID,education_after,education_before,health score,competency,exercise level,gender,disease status
0,1,9.6,5.8,43,17,Low,Female,1
1,2,10.5,5.9,42,13,High,Female,0
2,3,9.7,6.0,36,17,High,Female,1
3,4,12.0,6.2,26,17,High,Male,0
4,5,10.4,6.5,40,7,High,Male,1
5,6,10.1,6.8,33,18,High,Male,0
6,7,9.6,7.0,34,6,Low,Male,1
7,8,7.0,6.0,50,19,High,Male,0
8,9,9.2,6.1,46,11,High,Male,1
9,10,10.3,7.5,49,19,High,Male,0
10,11,10.5,7.5,41,20,High,Male,1
11,12,10.4,7.0,43,8,Low,Female,0
12,13,6.7,8.6,38,13,High,Male,1
13,14,7.7,8.7,46,5,High,Male,0
14,15,8.8,8.9,44,17,High,Male,1
15,16,12.0,9.4,39,15,Low,Female,0
16,17,10.5,5.9,35,12,High,Female,1
17,18,9.6,5.8,35,9,Low,Female,0
18,19,10.4,7.0,41,13,High,Female,1
19,20,10.4,7.0,55,20,Low,Male,1
20,21,6.7,8.6,52,17,Low,Male,0
21,22,9.6,7.0,29,19,Low,Female,0
22,23,7.0,6.0,38,10,High,Female,0
23,24,9.2,6.1,41,16,High,Female,0
24,25,10.5,5.9,32,18,High,Female,0

In [41]:
male = df[df['gender']=='Male']['health score']
female = df[df['gender']=='Female']['health score']

In [42]:
female

0     43
1     42
2     36
11    43
15    39
16    35
17    35
18    41
21    29
22    38
23    41
24    32
Name: health score, dtype: int64

In [43]:
male

3     26
4     40
5     33
6     34
7     50
8     46
9     49
10    41
12    38
13    46
14    44
19    55
20    52
Name: health score, dtype: int64

In [45]:
sum(male)

554

In [46]:
sum(female)

454

In [47]:
from scipy.stats import mannwhitneyu
statistic, p_value = mannwhitneyu(male, female)
statistic, p_value

(108.5, 0.10219563734792074)

In [48]:
statistic, p_value = mannwhitneyu( female,male)
statistic, p_value

(47.5, 0.10219563734792074)

# Wilcoxon test

In [12]:
from scipy.stats import wilcoxon

In [13]:
# Perform the Wilcoxon signed-rank test
statistic, p_value = wilcoxon(df['education_after'], df['education_before'])

In [55]:
print(f"Wilcoxon signed-rank statistic: {statistic}")
print(f"P-value: {p_value}")

# Check if the difference is statistically significant
if p_value < 0.05:
    print("Reject the null hypothesis. There is a significant difference between education_after and education_before.")
else:
    print("Fail to Reject the null hypothesis. There is no significant difference between education_after and education_before.")

Wilcoxon signed-rank statistic: 47.5
P-value: 0.10219563734792074
Fail to Reject the null hypothesis. There is no significant difference between education_after and education_before.

# ChiSquare Test

In [15]:
import pandas as pd
from scipy.stats import chi2_contingency

In [16]:
# Create a contingency table
contingency_table = pd.crosstab(df['exercise level'], df['disease status'])
contingency_table

disease status  0  1
exercise level
High            9  8
Low             5  3

In [17]:
# Perform the chi-squared test
chi2, p, dof, expected = chi2_contingency(contingency_table)

In [18]:
expected

array([[9.52, 7.48],
       [4.48, 3.52]])

In [19]:
dof, chi2

(1, 0.0002984148204736363)

In [20]:
p

0.986217479218165

In [21]:
# Print the results
print("Chi-squared statistic:", chi2)
print("P-value:", p)
print("Degrees of freedom:", dof)
print("Expected frequencies table:")
print(expected)

# Compare p-value with significance level (e.g., 0.05) to make a decision
alpha = 0.05
if p < alpha:
    print("Reject the null hypothesis. There is evidence of an association between exercise levels and disease status.")
else:
    print("Fail to reject the null hypothesis. There is no significant evidence of an association between exercise levels and disease status.")

Chi-squared statistic: 0.0002984148204736363
P-value: 0.986217479218165
Degrees of freedom: 1
Expected frequencies table:
[[9.52 7.48]
 [4.48 3.52]]
Fail to reject the null hypothesis. There is no significant evidence of an association between exercise levels and disease status.

## Fisher Test

In [22]:
import pandas as pd
from scipy.stats import fisher_exact

In [23]:
contingency_table = pd.crosstab(df['exercise level'], df['disease status'])

contingency_table

disease status  0  1
exercise level
High            9  8
Low             5  3

In [24]:
# Perform Fisher's exact test
odds_ratio, p_value = fisher_exact(contingency_table)

print("Odds Ratio:", odds_ratio)
print("p-value:", p_value)

Odds Ratio: 0.675
p-value: 1.0

In [25]:
ct = [[8,9],[3,5]]
odds_ratio, p_value = fisher_exact(ct)

print("Odds Ratio:", odds_ratio)
print("p-value:", p_value)

Odds Ratio: 1.4814814814814814
p-value: 1.0

# Sign Test

In [26]:
df['BMI'][0:20]

KeyError: 'BMI'

In [27]:
med = df['competency'].median()   #competency
med

16.0

In [28]:
import numpy
import numpy
import statsmodels.stats.descriptivestats as sm
from itertools import combinations
from scipy.stats import binom

In [29]:
med = 11

In [30]:
n_gt_median = sum([1 for x in data['competency'] if x > med])
n_gt_median

18

In [31]:
n_lt_median = sum([1 for x in data['competency'] if x < med])
n_lt_median

6

In [32]:
n_eq_median = sum([1 for x in data['competency'] if x == med])
n_eq_median

1

In [33]:
len(data['competency'])

25

In [34]:

# Calculate the p-value using the binomial test
n = n_gt_median + n_lt_median# + n_eq_median
k = min(n_gt_median, n_lt_median)

# The null hypothesis is that the median is equal to the hypothesis value
p_value = 2*binom.cdf(k, n, 0.5)

# Print the results
print("Number of positive signs:", n_gt_median)
print("Number of negative signs:", n_lt_median)
print("Number of ties:", n_eq_median)
print("p-value:", p_value)

# Compare p-value with significance level (e.g., 0.05) to make a decision
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis. There is evidence that the median is different from", med)
else:
    print("Fail to reject the null hypothesis. There is no significant evidence that the median is different from", med)

Number of positive signs: 18
Number of negative signs: 6
Number of ties: 1
p-value: 0.022655844688415527
Reject the null hypothesis. There is evidence that the median is different from 11

In [35]:
k

6

In [36]:
n

24